name: Deploy static content to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Cancels any previous deployment still running if a new one starts
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1 # Pull the repository
      - uses: oven-sh/setup-bun@v2.0.2 # Set up the bun runtime
      - run: bun install && bun run build # Outputs ./dist
      - uses: actions/configure-pages@v5 # Prepare GitHub Pages environment
      - uses: actions/upload-pages-artifact@v4 # Upload the built dist folder
        with:
          path: "./dist"
      - id: deployment
        uses: actions/deploy-pages@v4.0.5 # Publish the uploaded artifact to GitHub Pages
